// PALETA DE COLORES
$myprimary:   #F7D300;
$mysecondary: #D3ED00;
$myinfo:      #85C124;
$mylight:     #FEFEFE;
$mydark:      #D2C42C;

$mytextcolor: #013220;

$myDuration: .4s;
$mySize: 2rem;

$listfonts: 45px, 25px, 15px;